﻿@model SearchViewModel

<div class="row mt-5">
    <form class="col-lg-6" asp-controller="BooksLibrary" asp-action="CreateBookCopy" method="get">
        <div class="row">
            <div class="col-sm-9">
                <input asp-for="@Model.Id" placeholder="ID of book" class="form-control" />
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Add Copy</button>
            </div>
        </div>
    </form>
</div>
