﻿@model BookViewModel
@{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
}
<style>
    .form-group {
        width: 80%;
    }
</style>
<form id="add-book-form" class="col-lg-12" asp-controller="BooksLibrary" asp-action="Create" style="display:block">
    <div style="display:inline-block; width:45%; vertical-align:top;">
        <div class="form-group">
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Author"></label>
            <input asp-for="@Model.Author" class="form-control" />
            <span asp-validation-for="@Model.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Subject"></label>
            <input asp-for="@Model.Subject" class="form-control" />
            <span asp-validation-for="@Model.Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Copys"></label>
            <input asp-for="@Model.Copys" class="form-control" />
            <span asp-validation-for="@Model.Copys" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Country"></label>
            <input asp-for="@Model.Country" class="form-control" />
            <span asp-validation-for="@Model.Country" class="text-danger"></span>
        </div>
    </div>
    <div style="display:inline-block; width:45%; vertical-align:top;">
        <div class="form-group">
            <label asp-for="@Model.Language"></label>
            <input asp-for="@Model.Language" class="form-control" />
            <span asp-validation-for="@Model.Language" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Year"></label>
            <input asp-for="@Model.Year" class="form-control" />
            <span asp-validation-for="@Model.Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Pages"></label>
            <input asp-for="@Model.Pages" class="form-control" />
            <span asp-validation-for="@Model.Pages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Link"></label>
            <input asp-for="@Model.Link" class="form-control" />
            <span asp-validation-for="@Model.Link" class="text-danger"></span>
        </div>
    </div>
</form>
<div style="justify-content:center; position:relative; left:49%; right:49%">
    <button type="submit" class="btn btn-success" id="submit-book-form" data-url="/Bookslibrary/Create">Submit</button>
</div>
<script>
    $(document).ready(function () {
        $submitBtn = $('#submit-book-form');
        $submitBtn.attr('disabled', true);

        $('#add-book-form input').keyup(function () {
            var empty = false;
            $('#add-book-form input').each(function () {
                if ($(this).val() == '') {
                    empty = true;
                }
            });

            if (empty) {
                $submitBtn.attr('disabled', true);
            } else {
                $submitBtn.attr('disabled', false);
            }
        });

        $submitBtn.click(function (ev) {
            ev.preventDefault();
            var data = $('#add-book-form').serialize();
            var url = $(this).data('url');

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (res) {
                    toastr.success(`${res} !!`);
                },
                error: function () {
                    toastr.error("Error!!!!");
                }
            });
        });
    });
</script>
