﻿@model HomeViewModel
<div class="row" id="main-view">

    <h2>Books :)</h2>
    <table class="table table-hover">
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        
                         @book.Title by @book.Author
                         ISBN:@book.Id Pages:@book.Pages Copys:@book.Copys Language:@book.Language
                        <button class="btn-primary"  onclick="location.href='@Url.Action("ReserveBook", "BooksLibrary",new { id = @book.Id })'" >Reserve</button>
                            
                    </td>
                </tr>
   

            }
        </tbody>
    </table>
</div>