﻿@model SearchViewModel
@{
    ViewData["Title"] = "_SearchResultsPartial";
}


    <div class="col-sm-12">
        <br />
        <h1>Results of the search</h1>
        <br />
        @if (Model != null && Model.Searchresults != null && Model.Searchresults.Count > 0)
        {
            <table class="table table-hover">
                <tbody>
                    @foreach (var book in Model.Searchresults)
                    {
                        <tr>
                            <td>
                                <div class="row" style="display:inline-block; width:100%;">
                                    <div style="display:inline-block; float:left">
                                        <a asp-controller="Teams" asp-action="Details" asp-route-id="@book.Id" style="margin-right:10px;">
                                            @book.Title by @book.Author
                                            -   ISBN:@book.Id Pages:@book.Pages Copys:@book.Copys Language:@book.Language

                                        </a>
                                    </div>
                                    <div style="display:inline-block; float:right; align-content:center;">
                                        <button style="display:block; margin: 1px;" class="btn-warning" onclick="location.href='@Url.Action("DeleteBook", "BooksLibrary",new { id = @book.Id })'">Delete Book</button>
                                        <button style="display:block" class="btn-success" onclick="location.href='@Url.Action("CreateBookCopy", "BooksLibrary",new { id = @book.Id })'">Add book copy</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <hr />
            <span class="text-danger" style="font-size:larger"><strong>No books with this title found</strong></span>
        }
    </div>