﻿@{
    ViewData["Title"] = "PayMembership";
}
<div class="text-center">
    <h4>
        In order to activate your account you need to pay a monthly membership. <br>
        You won't be able to leave this page unless you pay the membership or you logout.
    </h4>
    <br><br>
    <input type='button' value='Pay Membership' id='myButton' onClick='redirectOnClick()' />
    <script>
        function redirectOnClick() {
            document.location = '/User/Pay';
        }
    </script>
</div>




