﻿@model BookViewModel
@using Microsoft.Extensions.Primitives;
<h1>Add Book</h1>
<div class="row">
    <div class="col-lg-12"></div>
    <partial name="_AddBookPartial">
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
