﻿
<div class="text-center">
    <h1 class="display-4">Vital-Batal Library</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="col-md-6">
    <partial name="_BooksPartial" />

</div>

