﻿@model SearchViewModel

@{
    ViewData["Title"] = "ManageBooks";
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/ManageBooks.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div class="col-sm-6" style="border:1px solid red">
    <h1>Book Manager</h1><br />
    <div class="row" style="display:flex; justify-content:center;">
        <div class="flex-box" id="searchField">
            <input placeholder="Search book by title..." class="form-control" id="searchBar" />
        </div>
        <div class="flex-box search" data-info="Submit search" data-url="/BooksLibrary/Search">
            <button type="submit" class="btn" id="searchBtn">&#x1F50D;</button>
        </div>
        <div class="flex-box addNew" data-info="Add new book">
            <button class="btn" id="addBtn" onclick="location.href='@Url.Action("Create", "BooksLibrary")'"><strong style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">+</strong>&#128215;</button>
        </div>
        <div class="flex-box reserve" data-info="Reserve this book">
            <button class="btn" id="reserveBtn" onclick="location.href='@Url.Action("MakeReservation", "BooksLibrary")'">&#11088;</button>
        </div>
        <div class="flex-box copy" data-info="Make copy of the book">
            <button class="btn" id="copyBtn" onclick="location.href='@Url.Action("CreateCopy", "BooksLibrary")'"><strong style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">X</strong></button>
        </div>
    </div>
    <div id="searchResults"></div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    $(document).ready(function () {
        jQuery.noConflict();
        var $searchBar = $('#searchBar');

        $('#searchBtn').attr('disabled', true);

        var pageUrl = location.href;
        console.log(pageUrl);

        toastr.options.timeOut = 0;
        toastr.options.extendedTimeOut = 0;
        toastr.options.positionClass = "toast-top-center";

        var timer;
        $searchBar.keypress(function () {
            clearTimeout(timer);
            timer = setTimeout(function () {
                if ($searchBar.val().length < 5) {
                    toastr.options.positionClass = 'toast-top-center';
                    toastr.options.timeOut = 1000;
                    toastr.error('The search must content at least 5 characters');
                }
            }, 500);
        });



        $searchBar.on('input', function () {
            if ($('#searchBar').val().length >= 5) {
                $('#searchBtn').attr('disabled', false);
            }
            else {
                $('#searchBtn').attr('disabled', true);
            }

        });


        $('.copy').mouseenter(function () {
            var text = $(this).data('info');

            toastr.info(text);
        });
        $('.copy').mouseleave(function () {
            toastr.remove();
        });

        $('.search').mouseenter(function () {
            var text = $(this).data('info');

            toastr.info(text);
        });
        $('.search').mouseleave(function () {
            toastr.remove();
        });

        $('.search').click(function (ev) {
            ev.preventDefault();
            var searchValue = $('#searchBar').val();
            console.log(searchValue);
            url = $(this).data('url') + `?title=${searchValue}`;

            console.log(url);

            $.get(url, function (data) {
                console.log(data);
                if (data == null) {
                    window.location = pageUrl;
                }
                else {
                    var target = $('#searchResults').html(data);
                }
            });
        });
        $('.search').mouseleave(function () {
            toastr.remove();
        });

        $('.addNew').mouseenter(function () {
            var text = $(this).data('info');

            toastr.success(text);
        });
        $('.addNew').mouseleave(function () {
            toastr.remove();
        });

        $('.reserve').mouseenter(function () {
            var text = $(this).data('info');

            toastr.error(text);
        });
        $('.reserve').mouseleave(function () {
            toastr.remove();
        });
    });
</script>

