﻿@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}


<div class="row mt-5">
    <form class="col-lg-6" asp-controller="BooksLibrary" asp-action="Search" method="get">
        <div class="row">
            <div class="col-sm-9">
                <input asp-for="@Model.Title" placeholder="Search..." class="form-control" />
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Search!</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover">
    <tbody>
        @if (Model != null)
        {
            if (!string.IsNullOrWhiteSpace(Model.Title) && !Model.Searchresults.Any())
            {
        <p class="alert alert-info">There are no books found with that title!</p>
            }
            else
            {

                foreach (var book in Model.Searchresults)
                {
        <tr>
            <td>
                <a asp-controller="Teams" asp-action="Details" asp-route-id="@book.Id">
                    @book.Title by @book.Author
                </a>
                -   ISBN:@book.Id Pages:@book.Pages Copys:@book.Copys Language:@book.Language
            </td>
        </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
