﻿.flex-box {
    border: 1px;
    padding: 1px;

}

#searchField {
    width: 60%;
}

#searchBtn {
    background-color: Highlight;
}

    #searchBtn[enabled]:hover,
    #searchBtn:enabled:hover {
        filter: brightness(85%);
    }

#addBtn {
    background-color: lightgreen;
}

    #addBtn:hover {
        filter: brightness(85%);
    }

#reserveBtn {
    background-color: rgb(245, 223, 22);
}

    #reserveBtn:hover {
        filter: brightness(85%);
    }

#copyBtn {
    background-color: lightgray;
}

    #copyBtn:hover {
        filter: brightness(85%);
        color: lightgray;
    }
#app-navbar{
    background-color:yellow;
}