﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Nunito');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Nunito';
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

}
#app-navbar{
    background-color:yellow!important;
}
.nav-item a{
    padding: 16px;
    font-size: 16px;
}

#app-navbar li:hover {
    background-color: #31c353;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    /*background-color: lightblue;*/
}

.content-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: lightcyan;
}